@use './_variables.scss' as *;
@use './_header.scss' as *;

body {
    position: relative;
}

.modal-callBack {
    margin-right: 0;
    margin-top: 0;
    border: none;
    z-index: 21;
    padding: 24px 16px 0 0;
    position: relative;
    left: 20px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 320px;
        height: 676px;
        overflow: scroll;
        padding-top: 104px;
        outline: 9999px solid rgba(255, 255, 255, 0.8);
        margin-left: auto;
    }

    @media screen and (min-width: 768px) {
        width: 513px;
        height: 100%;
        padding-top: 33.08px;
        padding-right: 29px;
        height: 100%;
        overflow: scroll;
        padding-left: 73px;
        padding-top: 24px;
        outline: 9999px solid rgba(255, 255, 255, 0.95);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 73px;
            height: 100%;
            right: 0;
            bottom: 0;
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
                -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
            z-index: -2;
        }
    }


}


.modal-callBack__buttonClose {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0;
    background-position: center;
    background-size: 17.96px;
    background-repeat: no-repeat;
    background-image: url("../assets/icon--close.svg");
    transition: background-image 0.5s, transform 1.5s;
    position: absolute;
    z-index: 22;
    margin-left: 16px;
    top: 24px;

    @media screen and (min-width: 768px) {
        left: 3px;
        margin: 0;
    }
}

.h6-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    margin: 0;

    @media screen and (min-width: 320px) and (max-width: 767px) {}

    @media screen and (min-width:768px) and (max-width: 1359px) {
        width: 281px;
    }

    @media screen and (min-width:1360px) {
        margin-right: auto;
        width: 100%;
    }
}

.h6-container__img {
    width: 4px;
    height: 40px;
    border-radius: 3px;
    background-image: url("../assets/h1-container.svg");
}


.h6-container__text {
    width: 100%;
    height: 40px;
    margin: 0;
    @include h1;

    @media screen and (min-width:320px) and (max-width: 1359px) {
        padding-left: 12px;
    }


    @media screen and (min-width:1360px) {
        padding-left: 30px;
    }
}

.callBack-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 24px 16px 0 16px;
    align-content: start;
    margin-bottom: 16px;

    @media screen and (min-width: 1425px) {
        padding: 24px 16px 0 32px;
    }
}

.callBack-form__item {
    display: flex;
    @include fontButtons;
    color: $font-gray;
    width: 288px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid $divider-color;
    padding-left: 16px;
    align-content: start;
    margin-bottom: 18px;

    @media screen and (min-width: 1360px) {
        width: 376px;
    }
}

.item-text {
    max-width: 288px;
    min-height: 64px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    color: $font-gray;
    margin-bottom: 18px;

    @media screen and (min-width: 1360px) {
        max-width: 376px;
        margin-bottom: 16px;

    }
}

.item-text--link {
    color: $icon-color;
    text-decoration: none;
}

.send-button {
    display: flex;
    max-width: 100%;
    justify-content: end;

}

.send-button__item {
    @include btnOrder;
    padding: 4px 0px 4px 12px;
    background-image: url('../assets/goside.png');
    background-repeat: no-repeat;
    background-position: 87px center;
    text-align: start;
}