@use './_variables.scss' as *;
@use './_header.scss' as *;


.block {
    width: 320px;
    height: 100%;
    background-color: $header-color;
    box-shadow: 16px 0px 52px 0 rgba(14, 24, 80, 0.2),
        -2px 0px 4px 0 rgba(69, 79, 126, 0.02);
    position: absolute;
    top: 0;
    z-index: 10;


    @media screen and (min-width: 320px) and (max-width: 359px) {
        width: 320px;
        
    }

    @media screen and (min-width: 360px) and (max-width: 767px) {
        width: 360px;
    }

    @media screen and (min-width: 768px) and (max-width: 1359px) {
        width: 305px;
    }

    @media screen and (min-width: 1360px) and (max-width:1424px) {
    max-width: 260px;
   
        display: flex;
        flex-direction: column;
        box-shadow: none;
        height: 100%;       
        
    }
    @media screen and (min-width: 1425px) {
        
        max-width: 306px;
           display: flex;
           flex-direction: column;
           box-shadow: none;
           height:100%;
       }
}


.not-visible {
    display: none;
}


.block-header {
    width: 100%;
    padding: 0 29px 0 22px;
    display: flex;
    align-items: center;
    @media screen and (min-width:320px) and (max-width: 359px) {
        padding-top: 18px;
        
    }
    @media screen and (min-width:360px) and (max-width: 767px) {
        padding-top: 16px;
        
    }
    @media screen and (min-width:768px) and (max-width: 1359px) {
        padding-top: 18px;
        
    }
    @media screen and (min-width: 1360px){
        padding-top: 30px;
    }

    
}

.block-header__button {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0;
}

.block-header__button--close,
.block-header__button--search {
    background-position: center;
    background-size: 17.96px;
    background-repeat: no-repeat;
}

.block-header__button--close {
    background-image: url("../assets/icon--close.svg");
    transition: background-image 0.5s, transform 1.5s;
    @media  screen and (min-width: 1360px) {
        display: none;
        
    }
}

.block-header__button--burger:hover {
    background-image: url("../assets/iconClose.png");
    transform: rotate(180deg);
}

.block-header__button--search {
    background-image: url("../assets/icon--search.svg");
}

.overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 5;
    opacity: 0.9;
    left: 0;
    top: 0;
}

.overlay--hidden {
    display: none;
}

.block-header__img-container {
    width: 98px;
    height: 52px;
    margin-right: auto;
    margin-left: 16px;
    background-image: url("../assets/iconLogo.svg");
    border: none;
    background-color: $header-color;
     @media screen and (min-width: 1360px) {
        margin-left: 0;
        
     }
}

.block-nav {
    display: block;
    width: 222px;
    height: 684px;
    margin-top: 16px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        height: 364px;
        margin-bottom: 32px;
    }

   
}

.nav-ul {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 0%;
    margin: 0%;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        row-gap: 24px;
        margin-bottom: 32px;
    }
    @media screen and (min-width:768px) and (max-width: 1359px){
        row-gap: 32px;
        margin-bottom: 241px;
        padding-top: 46.3px;
       
    }
    @media screen and (min-width: 1360px){
        row-gap: 24px;
        padding-top: 36px;
       
    }
    
}

.nav-ul__li {
    list-style: none;
}

.nav-ul__a {
    display: inline-block;
    @include mainText;
    line-height: 24px;
    text-decoration: none;
    padding-left: 24px;
    text-align: center;
    white-space: nowrap;
    transition: padding-left 1s;
}

.nav-ul__a:hover {
    color: #7E7E82;
    position: relative;
    padding-left: 20px;

}

.nav-ul__a:hover::before {
    content: url("../assets/nav-ul__img.svg");
    width: 4px;
    height: 32px;
    position: absolute;
    top: -4px;
    left: 0;

}

.block-footer {
    display: block;
    width: 222px;
    height: 200px;
    padding-left: 24px;
    margin-top: auto;

    @media screen and (min-width: 1360px) {
        margin-top: auto;
    }
}

.block-footer__contacts {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
}

.contacts__btn-container {
    display: flex;
    column-gap: 16px;
}

.contacts__btn {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0;
    position: relative;
}

.contacts__btn--call,
.contacts__btn--chat,
.contacts__btn--profile {
    background-position: center;
    background: size 17.96px;
    background-repeat: no-repeat;

}

.contacts__btn--call {
    background-image: url("../assets/iconCall.svg");

}

.contacts__btn--chat {
    background-image: url("../assets/iconChat.svg");

}

.contacts__btn--profile {
    background-image: url("../assets/iconProfile.svg");

}

.block-footer__mail {
    @include mainText;
    line-height: 24px;
    text-decoration: none;
    width: 100%;
    margin-top: 16px;
}

.block-footer__phone {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin-top: 12px;
    text-decoration: none;
    @media screen and (min-width: 768px) {
        margin-bottom: 40px;  
    }
    
}

.ch-container {
    max-width: 100%;
    height: 24px;
}

.ch-container__checkbox {
    appearance: none
}

.ch-container__label {
    @include fontButtons;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: 0;
    left: -8px;
}

.ch-container__checkbox:checked+.ch-container__label {
    color: #7E7E82;
}