@use './_variables.scss' as *;
@import '../css/swiper-bundle.min.css';


.prices {
    
    

    @media screen and ((min-width:320px) and (max-width: 767px)) {
       max-width: 100%;
        min-height: 508px;
        margin-bottom: 40px;
    }

    @media screen and ((min-width: 768px) and (max-width: 1359px)) {
        max-width: 100%;
        min-height: 568px;
        margin-bottom: 47px;
    }

    @media screen and (min-width: 1360px) and (max-width: 1424px) {
       min-width: 100%;
        min-height: 576px;
        margin-bottom: 50px;
        margin-left: 260px;
        margin-right: 0;
    }
    @media screen and (min-width: 1425px){
        min-width: 100%;
        min-height: 576px;
        margin-bottom: 50px;
        margin-left: 306px;
        margin-right: 0;
    }



    .prices__title {
        width: 100%;
        @include h2;
        padding-left: 24px;
        background-color: $header-color;
        @include titleGradient;
        align-content: center;
        @include title-border;

        @media screen and ((min-width: 320px) and (max-width: 767px)) {
            height: 56px;
            padding: 0px 16px;
            margin-bottom: 16px;
        }

        @media screen and (min-width:768px) {
            height: 56px;
            margin-bottom: 31px;
            min-width: 100%;
        }
    }

    .swiper {
        max-height: 100%;

        @media screen and ((min-width:320px) and (max-width: 767px)) {
            max-width: 100%;
            margin-right: 0;
            position: relative;
            margin-bottom: 16px;
            margin-left: 16px;

            &::before {
                content: "";
                position: absolute;
                width: 25px;
                height: 200px;
                right: -1px;
                top: 0;
                @include slidesGradient;
                z-index: 3;
            }
        }

        @media screen and ((min-width: 768px) and (max-width: 1359px)) {
            max-width: 720px;
            margin-bottom: 24px;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: 1360px) and (max-width: 1424px){
            max-width: 100%;
           

        }
        @media screen and (min-width: 1425px){
            max-width: 100%;
        }

    }


    .swiper-wrapper {
        display: inline-table;
        box-sizing: border-box;

        @media screen and ((min-width:320px) and (max-width: 767px)) {
            height: 216px;
            display: flex;
            column-gap: 16px;
            margin-bottom: 16px;
        }

        @media screen and (min-width: 768px) and (max-width: 1359px) {
            height: 356px;
        }
        @media screen and (min-width: 1360px) and (max-width: 1424px){
            max-width: 1056px;
            height: 356px;
            padding-left: 30px;
            margin-bottom: 32px;
           

        }
        @media screen and (min-width: 1425px){
            max-width: 1056px;
            height: 356px;
            padding-left: 30px;
            margin-bottom: 32px;
        }

       
    }


    .swiper-slide {
        display: table-row-group;
        background-color: $header-color;
        border-radius: 6px;

        @media screen and ((min-width:320px) and (max-width: 767px)) {
            width: 260px !important;
            display: flex;
            height: 200px;
            flex-direction: column;
            padding: 16px;
            position: relative;
        }

        @media screen and (min-width: 768px) {
            
            &:not(:first-child):not(:last-child)::after {
                content: "";
                position: absolute;
                width: 95%;
                height: 1px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 1px solid $divider-color;
            }

            
        }

        @media screen and (min-width:1360px) {}
    }




    .swiper-slide--header {
        display: table-header-group;
        height: 32px;
        vertical-align: text-top;
        border-spacing: 20px;
        color: #7E7E82;


        @media screen and ((min-width:320px) and (max-width: 767px)) {
            display: none;
        }

        @media screen and (min-width: 768px) {
            background-color: $background-color;
        }
    }

    .header-title {
        display: table-cell;
        vertical-align: middle;
        text-align: left;

        @media screen and (min-width:320px) and (max-width: 767px) {
            display: none;
        }

        @media screen and (min-width:768px) and (max-width: 1359px) {
            padding-left: 16px;

            &:first-child {
                border-top-left-radius: 6px;
            }

            &:last-child {

                border-top-right-radius: 6px;
            }
        }

        @media screen and (min-width: 1360px) {
            padding-left: 24px;

            &:first-child {
                border-top-left-radius: 6px;
            }

            &:last-child {
                border-top-right-radius: 6px;
            }
        }
    }



    .slide-content {
        display: table-row;
        vertical-align: middle;
        max-width: 100%;

        @media screen and ((min-width:320px) and (max-width: 767px)) {
            padding: 0;
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            max-height: 100%;
        }

        @media screen and (min-width: 768px) and (max-width: 1359px) {
            
        }
    }


    .content {
        display: table-cell;
        width: auto;

        @media screen and ((min-width:320px) and (max-width: 767px)) {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
        }

        @media screen and (min-width: 768px) {
            vertical-align: middle;
            text-align: center;
            
        }

    }
    .content--border-left{
        @media screen and (min-width: 768px) {
            border-top-left-radius: 6px; 
        }
    }
    .content--border-right{
        @media screen and (min-width: 768px) {
            border-top-right-radius: 6px; 
        }
    }

    .last-item {
        border-bottom-right-radius: 6px;
    }

    .fourth-item {
        border-bottom-left-radius: 6px;
    }

    .content__title {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 0px;
        color: #7E7E82;

        @media screen and ((min-width:320px) and (max-width: 767px)) {
            display: inline-flex;
        }

        @media screen and (min-width:768px) {
            display: none;
        }
    }

    .content__item {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        min-width: 74px;
        @include mainText;
        line-height: 18px;

        @media screen and ((min-width:320px) and (max-width: 767px)) {
            display: inline-flex;
        }

        @media screen and ((min-width: 768px) and (max-width: 1359px)) {
            padding-left: 16px;
            white-space: nowrap;
        }

        @media screen and (min-width: 1360px) {
            padding-left: 24px;
        }
    }

    .order {
        @include btnOrder;
        padding: 4px 0px 4px 12px;
        background-image: url('../assets/goside.png');
        background-repeat: no-repeat;
        background-position: 87px center;
        text-align: start;


        @media screen and ((min-width:320px) and (max-width: 767px)) {
            position: absolute;
            right: 16px;
            bottom: 16px;

        }

        @media screen and ((min-width: 768px) and (max-width: 1359px)) {
            margin: 16px;
        }

        @media screen and (min-width:1425px) {}

    }



    .swiper-pagination {
        height: 12px;
        gap: 12px;
        opacity: 1;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        opacity: 0.1;
    }

    .swiper-pagination-bullet-inactive {
        background-color: #DDDDDD;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: #B5B6BC;
    }
}

.offer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-right: auto;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        max-width: 288px;
        min-height: 138px;
        padding-left: 16px;
    }

    @media screen and ((min-width: 768px) and (max-width: 1359px)) {
        max-width: 768px;
        min-height: auto;
        padding-left: 24px;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width: 1360px) {
        max-width: 450px;
        min-height: auto;
        padding-left: 32px;
    }
}

.offer__text {
    @include mainText;
    line-height: 18px;
    @media screen and ((min-width: 768px) and (max-width: 1359px)) {
        max-width: 421px;
    }

}

.offer__link {
    @include link-text;
    position: relative;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        &::after {
            content: url('../assets/more.png');
            width: 24px;
            height: 27px;
            position: absolute;
            left: 102px;
            bottom: -2px;
        }

    }

    @media screen and (min-width: 768px) {
        &::after {
            content: url('../assets/more.png');
            width: 24px;
            height: 27px;
            position: absolute;
            left: 292px;
            bottom: -2px;
        }

    }

}