@use './_variables.scss' as *;
@import '../css/swiper-bundle.min.css';

.servicesBrands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include title-border;
    overflow: hidden;
    position: relative;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        max-width: 100%;
        min-height: 196px;
        margin-bottom: 24px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 81px;
            @include slidesGradient;
            right: 0;
            top: 95px;
            opacity: 1;
            z-index: 2;
        }
        
    }

    @media screen and ((min-width: 768px) and (max-width: 1359px)) {
        align-content: flex-start;
       max-width: 100%;
        min-height: 288px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1360px) and (max-width:1424px) {
        min-width: 100%;
        min-height: 288px;
        margin-bottom: 50px;
        margin-left: 260px;
    }
@media screen and (min-width: 1425px) {
    min-width: 100%;
    min-height: 288px;
    margin-bottom: 50px;
    margin-left: 306px;
    
}

    .servicesBrands__title {
        width: 100%;
        @include h2;
        padding: 16px 0 16px 24px;
        background-color: $header-color;
        @include titleGradient;
        margin-bottom: 24px;
        margin-top: 0;

        @media screen and ((min-width: 320px) and (max-width: 767px)) {
            height: 80px;
            padding: 16px;
            margin-bottom: 16px;
        }

        @media screen and ((min-width:767px) and (max-width: 1359px)) {
            height: 56px;
        }

        @media screen and (min-width:1360px) {
            height: 56px;
            padding: 16px 0 16px 32px;
            max-width: 100%;
        }

    }



    .swiper {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        background-color: $background-color;

        @media screen and ((min-width:320px) and (max-width: 767px)) {
            margin-left: 16px;
            height: 100px;
        }

        @media screen and ((min-width: 768px) and (max-width: 1359px)) {
            height: 208px;
            margin: 0 auto;
            max-width: 768px;
        }

        @media screen and (min-width:1360px) {
            height: 208px;
            align-content: flex-start;
            margin-right: auto;
        }




        .swiper-wrapper {
            width: 100%;
            row-gap: 16px;
            max-height: 100%;
            display: flex;


            @media screen and ((min-width: 320px) and (max-width: 767px)) {
                column-gap: 16px;
            }

            @media screen and ((min-width: 768px) and (max-width: 1359px)) {
                flex-wrap: wrap;
                padding: 0 24px;
                column-gap: 24px;
                align-content: flex-start;
            }

            @media screen and (min-width: 1360px) {
                flex-wrap: wrap;
                padding: 0 32px;
                column-gap: 32px;
                align-content: flex-start;
                max-width:1120px;
                
            }

        }

    }

    .swiper-slide {
        display: flex;
        height: 72px;
        box-sizing: border-box;

        @media screen and ((min-width: 320px) and (max-width: 767px)) {
            width: 240px !important;
        }

        @media screen and ((min-width: 768px) and (max-width: 1359px)) {
            width: 224px !important;
        }

        @media screen and (min-width: 1360px) {
            width: 240px !important;
        }
    }


    .swiper-slide-next {

        @media screen and ((min-width:320px) and (max-width: 767px)) {
           
        }

        @media screen and (min-width: 768px) {
            &::before {
                display: none;
            }
        }
    }


    .slide-content {
        display: flex;
        flex-wrap: nowrap;
        background-color: $header-color;
        height: 72px;
        padding-left: 16px;
        padding-right: 16px;
        align-items: center;
        border: $divider-color 1px solid;
        border-radius: 6px;

        @media screen and ((min-width:320px) and (max-width: 767px)) {
            width: 240px;
        }

        @media screen and ((min-width:768px) and (max-width: 1359px)) {
            width: 224px;
        }

        @media screen and (min-width:1360px) {
            width: 240px;
        }
    }

}


.slide-content__Lenovo {
    background-image: url("../assets/lenovo.svg");
    width: 108px;
    height: 32px;

    @media screen and ((min-width:320px) and (max-width: 767px)) {
        margin-right: 84px;
    }

    @media screen and ((min-width: 768px)) {
        margin-right: 68px;
    }
}



.slide-content__Samsung {
    background-image: url("../assets/samsung.svg");
    background-repeat: no-repeat center;
    width: 116px;
    height: 38.4px;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        margin-right: 76px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 60px;
    }

}

.slide-content__Apple {
    background-image: url("../assets/apple.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        margin-right: 148px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 132px;
    }
}


.slide-content__ViewSonic {
    background-image: url("../assets/ViewSonic.svg");
    background-repeat: no-repeat;
    width: 128px;
    height: 21px;

    @media screen and ((min-width:320px) and (max-width: 767px)) {
        margin-right: 66px;
        margin-left: -2px;
    }

    @media screen and (min-width : 768px) {
        margin-right: 50px;
    }
}

.slide-content__Bosh {
    background-image: url("../assets/bosh.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 128px;
    height: 28.6px;
    margin-right: 64px;

    @media screen and (min-width: 768px) {
        margin-right: 48px;
    }

}


.slide-content__HP {
    background-image: url("../assets/hp.svg");
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    margin-right: 146px;
    margin-left: -6px;

    @media screen and (min-width: 768px) {
        margin-right: 130px;
    }
}

.slide-content__Acer {
    background-image: url("../assets/acer.svg");
    background-repeat: no-repeat;
    width: 94px;
    height: 24px;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        margin-right: 98px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 82px;
    }
}

.slide-content__Sony {
    background-image: url("../assets/sony.svg");
    background-repeat: no-repeat;
    width: 128px;
    height: 25.6px;
    margin-left: -2px;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        margin-right: 66px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 50px;
    }
}

.slide-content__link {
    position: relative;

    &::after {
        position: absolute;
        top: -20px;
        right: -14px;
        content: "";
        width: 40px;
        height: 40px;
        background: $header-color url("../assets/dropdown.svg") no-repeat center center;
        border: 2px solid $icon-color;
        border-radius: 50%;
    }
}

.swiper-pagination {
    height: 12px;
    gap: 12px;
    opacity: 1;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.1;
}

.swiper-pagination-bullet-inactive {
    background-color: #DDDDDD;

}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #B5B6BC;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}

.status {
    @media screen and (min-width: 768px) {
        display: flex;
        height: 24px;
        @include fontButtons;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 24px;
        border: none;
        padding: 0;
        pointer-events: all;
        background-color: $background-color;
    }
}

.status--showAll {
    @media screen and (min-width: 768px) {
        width: 134px;
    }
}

.status--closeAll {
    @media screen and (min-width: 768px) {
        width: 88px;
    }
}

.status__icon {
    width: 24px;
    height: 24px;
}

.status__icon--Show {
    background: url("../assets/iconShow.png") no-repeat center;
}

.status__icon--Hide {
    background: url("../assets/iconClose.png") no-repeat center;
}