$background-color:  #F8F8F8;
;
$header-color: #FFFFFF;
$icon-color: #FF3E79;
$border-color: #D9FFF5;
$divider-color: #EAEAEA;


$btn-order-width: 119px;
$btn-order-height: 32px;
$btn-order-radius: 16px;

$icon-width: 40px;
$icon-height: 40px;
$icon-border-radius: 50%;
$icon-border-width: 0;

$font-primary: 'TT Lakes', sans-serif;
$font-superSmall: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 24px;
$font-xlarge: 28px;

$font-black: #1B1C21;
$font-gray: #7E7E82;
$font-white: #FFFFFF;

@mixin h1 {
    font-size: $font-xlarge;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 40px;
    color: $font-black;
}

@mixin h2 {
    font-size: $font-medium;
    color: $font-gray;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 24px;    
    text-transform: uppercase;
}

@mixin mainText {
    color: $font-black;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

@mixin fontButtons {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

}
@mixin link-text{
    font-size: 16px;
    font-weight: 500;
    color: $font-black;
    line-height: 24px;      
    letter-spacing: -0.2px;
    list-style: none;
    text-decoration: none;  
}

@mixin titleGradient {
    background-image: linear-gradient(-270deg, $background-color 0%, $header-color 98.61%);
}

@mixin slidesBorder {
    border: 1px solid $divider-color;
    border-radius: 6px;
}

@mixin title-border{
    border-top: 1px solid $border-color;
}
@mixin btnOrder {
    width: $btn-order-width;
    height: $btn-order-height;
    border-radius: $btn-order-radius;
    background-color: $icon-color;
    color: $font-white;
    font-size: $font-superSmall;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;     
    border: none;
    cursor: pointer;
}