@use './variables' as *;

.main {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    
    height: auto;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
        column-gap: 24px;
        max-width: 320px;
        padding-left: 16px;
        margin-bottom: 24px;
    }

    @media screen and (min-width: 768px) and (max-width: 1119px) {
        column-gap: 48px;
        max-width: 768px;
        margin-bottom: 32px;

    }

    @media screen and (min-width: 1120px) {
        max-width: 1096px;
        column-gap: 39.65px;
        padding-left: 35px;
        margin-bottom: 51px;
    }
}

.main__text--orientation-768 {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: none;

    }
}

.main__text--orientation-1120 {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1119px) {
        display: none;
    }
}

.main__text {
    @include mainText;
    height: auto;
    p{
        margin-top: 0;
       
    }
    
    /*кружки подправить*/

    @media screen and (min-width: 320px) and (max-width: 767px) {
        max-width: 288px;
       
    }

    @media screen and (min-width: 768px) and (max-width: 1119px) {
        max-width: 336px;
        padding-left: 24px;
        text-align: left;
    }

    @media screen and (min-width: 1120px) {
       
        max-width: 490px;
    }    
}


.main__read-more {
    display: flex;
    border-width: 0;
    width: 140px;
    height: 24px; 
    @include link-text;    
}

.main__read-more--img {
    background: url("../assets/expand.svg") center no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}



.main__logo-container {
@media screen and (min-width: 320px) and (max-width:767px) {
        margin-top: 16px;
        max-width: 320px;
        height: auto;
    }


@media screen and (min-width: 768px) and (max-width: 1119px) {
        max-width: 360px;
        height: auto;
    }


@media screen and (min-width: 1120px) {
        max-width: 531.35px;
        height: auto;    
}
}

.main__logo {
    width: 100%;
}