@use './variables' as *;
@use './header' as *;
@use './nav.scss' as *;
@use './mainMenue.scss' as *;



$base-color: #333;
html {
    font-family: 'TT_Lakes';
    box-sizing: border-box;
  }
  *,
*:before,
*:after {
    box-sizing: inherit;
}
body {
 background-color: $background-color;
 margin: 0%;
}