@use './variables' as *;
@use './_modal.scss' as *;
@use './_modal-feedBack' as *;
@use './_modal-callBack' as *;
@use './_header' as *;
@use './_nav.scss' as *;
@use './_mainMenue.scss' as *;
@use '../css/swiper-bundle.min.css' as *;
@use './serviceBrands.scss' as *;
@use './serviceGadgets.scss' as *;
@use './_prices.scss' as *;

/* Проверить все круги*/

$base-color: #333;

html {
    font-family: $font-primary;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $background-color;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        max-width: 320px;
        height: auto;

    }

    @media screen and (min-width: 768px) and (max-width: 1359px) {
        height: auto;
        max-width: 1120px;

    }
    @media screen and (min-width: 1360px) and (max-width: 1424px) {
        height: auto;
        max-width: 1360px;
        margin-left: 0;

    }

    @media screen and (min-width: 1425px) {
        max-width: 1425px;
        height: auto;
        margin-left: 0;
      
       
    }
}

.about-us {
    @include title-border;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        padding-top: 16px;
        max-width: 320px;
        flex-direction: column;
        text-align: center;
        row-gap: 16px;
        margin-bottom: 19px;
    }

    @media screen and ((min-width: 768px) and (max-width: 1359px)) {
        min-height: 81px;
        max-width: 768px;
        flex-direction: row;
        padding: 0 24px;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    @media screen and (min-width: 1360px) {
        padding: 32px 32px 0 32px;
        min-height: 65px;
        flex-direction: row;
        justify-content: space-between;
        width: 1120px;
        margin-bottom: 21px;
        margin-right: 0;
    }
}

.about-us__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: $font-gray;
    text-decoration: none;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {}

    @media screen and ((min-width: 768px) and (max-width: 1359px)) {
        min-width: 214px;
        max-width: 218px;
        padding-top: 32px;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }
    }

    @media screen and (min-width: 1360px) {
        min-width: 214px;
        max-width: 333px;
        padding-top: 32px;


        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }
    }

}