@use './variables' as *;
@use './header' as *;
@use './nav.scss' as *;
@use './mainMenue.scss' as *;
@use './serviceBrands.scss' as *;
@import '../css/swiper-bundle.min.css';



$base-color: #333;
html {
    font-family: $font-primary;
    box-sizing: border-box;
  }
  *,
*:before,
*:after {
    box-sizing: inherit;
}
body {
 background-color: $background-color;
 margin: 0%;
 margin-left: auto;
 margin-right: auto;

 @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 320px;    
    height: 1810px;
  
 }
 @media screen and (min-width: 768px) and (max-width: 1119px) {
    height: 1857px;

}
@media screen and (min-width: 1120px) {
    max-width: 1120px;
    height: 1925px;  
}
}