@use './variables.scss' as *;
@import '../css/swiper-bundle.min.css';

.servicesGadgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include title-border;
    background-color: $background-color;
    margin-left: auto;
    margin-right: auto;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        width: 320px;
        min-height: 284px;
        margin-bottom: 24px;
    }

    @media screen and ((min-width: 767px) and (max-width: 1424px)) {
        align-content: flex-start;
        width: 768px;
        min-height: 288px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1425px) {
        width: 1120px;
        min-height: 288px;       
        margin-bottom: 50px;
        margin-right: 0;
    }


.servicesGadgets__title {
    width: 100%;
    @include h2;
    padding: 16px 0 16px 24px;
    background-color: $header-color;
    @include titleGradient;
    margin-bottom: 24px;
    margin-top: 0;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        height: 80px;
        padding: 16px;
        margin-bottom: 16px;
    }

    @media screen and (min-width:768px)  {
        height: 56px;
    } 

}

.swiper{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    background-color: $background-color;

    @media screen and ((min-width:320px) and (max-width: 767px)) {
        margin-left: 16px;
        height: 204px;
    }

    @media screen and ((min-width: 768px) and (max-width: 1424px)) {

        height: 208px;
    }

    @media screen and (min-width:1425px) {
        height: 208px;
        align-content: flex-start;
    }

}


.swiper-wrapper {
    width: 100%;
    row-gap: 16px;
    height: 100%;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        display: flex;
        column-gap: 16px;
    }

    @media screen and ((min-width: 768px) and (max-width: 1424px)) {
        flex-wrap: wrap;
        padding: 0 24px;
        
        column-gap: 24px;
        align-content: flex-start;
        
    }

    @media screen and (min-width: 1425px) {
        flex-wrap: wrap;
        padding: 0 32px;
        column-gap: 32px;
        align-content: flex-start;
    }

}



.swiper-slide {
    display: flex;
    height: 160px;
    box-sizing: border-box;
    background-color: $header-color;
    @include slidesBorder;
    padding-left: 16px;
    padding-top: 16px;    
    position: relative;  


    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        width: 240px !important;
    }

    @media screen and ((min-width: 768px) and (max-width: 1424px)) {
        width: 224px !important;
    }

    @media screen and (min-width: 1425px) {
        width: 240px !important;
    }
}


.swiper-slide-next {

    @media screen and ((min-width:320px) and (max-width: 767px)) {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 166px;
            left: 30px;
            bottom: 0px;
            opacity: 1;
        }
    }

}


}

.link{
    position: absolute;
        bottom: 16px;
        right: 16px;
        content: "";
        width: 40px;
        height: 40px;
        background: $header-color url("../assets/dropdown.svg") no-repeat center center;
        border: 2px solid $icon-color;
        border-radius: 50%;
}  

.swiper-slide__notebook {
   

    @media screen and ((min-width:320px) and (max-width: 767px)) {
        
    }

    @media screen and ((min-width: 768px)) {
        
    }
}



.slide-content__tabs {
    width: 116px;
    height: 38.4px;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        margin-right: 76px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 60px;
    }

}

.slide-content__pc {
    width: 44px;
    height: 44px;

    @media screen and ((min-width: 320px) and (max-width: 767px)) {
        margin-right: 148px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 132px;
    }
}


.slide-content__monitors {
    width: 128px;
    height: 21px;

    @media screen and ((min-width:320px) and (max-width: 767px)) {
        margin-right: 66px;
        margin-left: -2px;
    }

    @media screen and (min-width : 768px) {
        margin-right: 50px;
    }
}

.swiper-slide__blocks {
    margin-right: 64px;

    @media screen and (min-width: 768px) {
        margin-right: 48px;
    }

}


.slide-content__components {
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    margin-right: 146px;
    margin-left: -6px;

    @media screen and (min-width: 768px) {
        margin-right: 130px;
    }
}





.swiper-pagination {
    height: 12px;
    gap: 12px;
    opacity: 1;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.1;
}

.swiper-pagination-bullet-inactive {
    background-color: #DDDDDD;

}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #B5B6BC;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.status-gadgets {
    @media screen and (min-width: 768px) {
        display: flex;
        height: 24px;
        @include fontButtons;
        position: absolute;
        z-index: 1;
        bottom: 0px;
        left: 24px;
        border: none;
        padding: 0;
        pointer-events: all;
        background-color: $background-color;
    }
}

.status-gadgets--showAll {
    @media screen and (min-width: 768px) {
        width: 134px;
    }
}

.status-gadgets--closeAll {
    @media screen and (min-width: 768px) {
        width: 88px;
    }
}

.status-gadgets__icon {
    width: 24px;
    height: 24px;
}

.status-gadgets__icon--Show {
    background: url("../assets/iconShow.png") no-repeat center;
}

.status-gadgets__icon--Hide {
    background: url("../assets/iconClose.png") no-repeat center;
}