block call-backModal

        dialog(id="callBack").class         
          button(onclick="callBack.close()" type="button").button-container__button
          div.h5-container  
            div.h5-container__img 
            div.h5-container__text Обратная связь 
          form(action=" " method = 'post').call-back__form
            input(name="nameInput" type="text" value="Имя" id="name" required).form-item
            input(name="phoneInput" type="text" value="Телефон" id="phone" required).form-item
            input(name="postInput" type="text" value="Электронная почта" id="post" required).form-item
            input(name="messageInput" type="textarea" value="Сообщение" id="message" required).form-item
            div.form__text
              span.text-item Нажимая “отправить”, вы даете согласие на 
                a(href=" ").text-item__a обработку персональных данных 
              span.text-item и соглашаетесь с нашей 
                a(href=" ").text-item__a политикой конфиденциальности
              div.button-send
                input(type="submit").button-send__item      