block modal-feedBack

        dialog(id="feedBack").modal-feedBack        
          button(onclick="feedBack.close()" type="button").modal-feedBack__buttonClose  
          div.h5-container  
            div.h5-container__img 
            div.h5-container__text Обратная связь 
          form(action=" " method = 'post').feedBack-form
            input(name="nameInput" type="text" placeholder="Имя" id="name" required).feedBack-form__item
            input(name="phoneInput" type="text" placeholder="Телефон" id="phone" required).feedBack-form__item
            input(name="postInput" type="text" placeholder="Электронная почта" id="post" required).feedBack-form__item
            textarea(name="messageInput"  maxlength="100" minlength="5" placeholder="Сообщение" id="message" required).feedBack-form__item.feedBack-form__item--textarea
            span.text-item Нажимая “отправить”, вы даете согласие на 
              a(href=" ").text-item--link обработку персональных данных 
              span.text-item и соглашаетесь с нашей 
                a(href=" ").text-item--link политикой конфиденциальности
            div.button-send
              input(type="submit").button-send__item      