block modal

      div.overlay-hidden
      section.block
        header.block-header
          button.block-header__button.block-header__button--close
          button.block-header__img-container 
          button.block-header__button.block-header__button--search
        nav.block-nav
          ul.nav-ul
            li.nav-ul__li
              a(href="").nav-ul__a  Ремонт техники
            li.nav-ul__li
              a(href="").nav-ul__a Услуги и сервисы
            li.nav-ul__li  
                a(href="").nav-ul__a Корпоративным клиентам
            li.nav-ul__li
                a(href="").nav-ul__a Продавцам техники
            li.nav-ul__li
                a(href="").nav-ul__a Партнерам
            li.nav-ul__li
                a(href="").nav-ul__a Производителям
            li.nav-ul__li
                a(href="").nav-ul__a Наши сервисные центры
            li.nav-ul__li
                a(href="").nav-ul__a Контакты
        footer.block-footer
          div.block-footer__contacts
            div.contacts__btn-container
              button(onclick="callBack.show()").contacts__btn.contacts__btn--call
              button.contacts__btn.contacts__btn--chat
              button.contacts__btn.contacts__btn--profile
            a(href="mailto:mail@cps.com").block-footer__mail mail@cps.com
            a(href="tel:8 800 890 8900").block-footer__phone 8 800 890 8900
            div.block-footer__language
              form.ch-container
                input(name="language" type="radio" value="ru" id="ru").ch-container__checkbox
                label(for="ru").ch-container__label ru
                input(name="language" type="radio" value="en" id="en").ch-container__checkbox
                label(for="en").ch-container__label en
                input(name="language" type="radio" value="ch" id="ch").ch-container__checkbox
                label(for="ch").ch-container__label ch
        