block prices 
section.prices 
  h4(id="prices").prices__title  Цены на услуги
  div.prices__swiper.swiper
    div.swiper-wrapper
      div.swiper-slide.swiper-slide--header
        div.slide-content 
          div.header-title Ремонтные услуги
          div.header-title Цена
          div.header-title Срок 
          div.header-title 
      div.swiper-slide
        div.slide-content
          div.content.content--border-left
            span.content__title Ремонтные услуги
            div.content__item Диагностика
          div.content
            span.content__title Цена
            div.content__item Бесплатно
          div.content
            span.content__title Срок
            div.content__item 30 мин
          div.content.content--border-right
            button.order Заказать
      div.swiper-slide
        div.slide-content
          div.content
            span.content__title Ремонтные услуги
            div.content__item Замена дисплея 
          div.content
            span.content__title Цена
            div.content__item 1000 ₽
          div.content
            span.content__title Срок
            div.content__item 30-120 мин
          div.content
            button.order Заказать
      div.swiper-slide
        div.slide-content
          div.content
            span.content__title Ремонтные услуги
            div.content__item Замена полифонического динамика
          div.content  
            span.content__title Цена
            div.content__item 1000 ₽
          div.content
            span.content__title Срок
            div.content__item 30-120 мин
          div.content
            button.order Заказать
      div.swiper-slide
        div.slide-content
          div.content
            span.content__title Ремонтные услуги
            div.content__item Тестирование с выдачей технического заключения 
          div.content
            span.content__title Цена
            div.content__item 1000 ₽
          div.content
            span.content__title Срок
            div.content__item 30-120 мин
          div.content
            button.order Заказать
      div.swiper-slide
        div.slide-content
          div.content.fourth-item
            span.content__title Ремонтные услуги
            div.content__item Замена программного обеспечения
          div.content 
            span.content__title Цена
            div.content__item 1000 ₽
          div.content
            span.content__title Срок
            div.content__item 30-120 мин
          div.content.last-item
            button.order Заказать
    div.swiper-pagination
  div.offer
    div.offer__text Все цены указаны с учетом НДС. Стоимость ремонта указана на единичную услугу. Для получения коммерческого предложения на постоянное обслуживание, оставьте заявку.
    a(id="special-prices"  href='home').offer__link Получить коммерческое предложение

  
    