block prices 
section.prices 
  h4.prices__title  Цены на услуги
  div.prices-swiper.swiper
    div.swiper-wrapper
      div.swiper-slide.swiper-slide--header
        div.slide-content 
          div.header-title Ремонтные услуги
          div.header-title Цена
          div.header-title Срок 
          div.header-title 
      div.swiper-slide
        div.slide-content
          div.item-container
            span.item-title Ремонтные услуги
            div.item Диагностика
          div.item-container
            span.item-title Цена
            div.item Бесплатно
          div.item-container
            span.item-title Срок
            div.item 30 мин
          div.item-container
            button.item.order Заказать
      div.swiper-slide
        div.slide-content
          div.item-container
            span.item-title Ремонтные услуги
            div.item Замена дисплея 
          div.item-container
            span.item-title Цена
            div.item 1000 ₽
          div.item-container
            span.item-title Срок
            div.item 30-120 мин
          div.item-container
            button.item.order Заказать
      div.swiper-slide
        div.slide-content
          div.item-container
            span.item-title Ремонтные услуги
            div.item Замена полифонического динамика
          div.item-container  
            span.item-title Цена
            div.item 1000 ₽
          div.item-container
            span.item-title Срок
            div.item 30-120 мин
          div.item-container
            button.item.order Заказать
      div.swiper-slide
        div.slide-content
          div.item-container
            span.item-title Ремонтные услуги
            div.item Тестирование с выдачей технического заключения 
          div.item-container
            span.item-title Цена
            div.item 1000 ₽
          div.item-container
            span.item-title Срок
            div.item 30-120 мин
          div.item-container
            button.item.order Заказать
      div.swiper-slide
        div.slide-content
          div.item-container.fourth-item
            span.item-title Ремонтные услуги
            div.item Замена программного обеспечения
          div.item-container 
            span.item-title Цена
            div.item 1000 ₽
          div.item-container
            span.item-title Срок
            div.item 30-120 мин
          div.item-container.last-item
            button.item.order Заказать
    div.swiper-pagination
  div.offer
    div.offer__text Все цены указаны с учетом НДС. Стоимость ремонта указана на единичную услугу. Для получения коммерческого предложения на постоянное обслуживание, оставьте заявку.
    a(href='').offer__link Получить коммерческое предложение

  
    