

block content
section.servicesBrands
  h2.servicesBrands__title Ремонт техники различных брендов
  div.brands-swiper.swiper
    div.swiper-wrapper
        div.swiper-slide
          div.slide-content
            div.slide-content__Lenovo
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Samsung
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Apple
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__ViewSonic
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Bosh
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__HP
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Acer
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Sony
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Lenovo
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Samsung
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Apple
            a(href="list.html").slide-content__link
    div.swiper-pagination
    button.status
      div.status__icon.status__icon--Show
      span Показать все
  