

block gadgets
section.servicesGadgets
  h3.servicesGadgets__title Ремонт различных видов техники
  div.swiper
    div.swiper-wrapper
        div.swiper-slide
          div.slide-content
            div.slide-content__notebook
            a(href="list.html").slide-content__link
            span Ремонт ноутбуков
        div.swiper-slide
          div.slide-content
            div.slide-content__Samsung
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Apple
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__ViewSonic
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__Bosh
            a(href="list.html").slide-content__link
        div.swiper-slide
          div.slide-content
            div.slide-content__HP
            a(href="list.html").slide-content__link
    div.swiper-pagination
    button.status
      div.status__icon.status__icon--Show
      span Показать все