

block gadgets
section.servicesGadgets
  h3.servicesGadgets__title Ремонт различных видов техники
  div.gadgets-swiper.swiper
    div.swiper-wrapper
        .swiper-slide.swiper-slide__notebook 
          a(href="list.html").link   
          span Ремонт ноутбуков                   
        div.swiper-slide.swiper-slide__tabs
          a(href="list.html").link
          span Ремонт планшетов
        div.swiper-slide.swiper-slide__pc
          a(href="list.html").link
          span Ремонт ПК
        div.swiper-slide.swiper-slide__monitors
          a(href="list.html").link
          span Ремонт мониторов
        div.swiper-slide.swiper-slide-blocks
          a(href="list.html").link
          span Ремонт системных блоков
        div.swiper-slide.swiper-slide__components
          a(href="list.html").link
          span Ремонт комплектующих
    div.swiper-pagination
    button.status-gadgets
      div.status-gadgets__icon.status-gadgets__icon--Show
      span Показать все